{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
</head>
<body>
    <h1>Cart</h1>
    <div class="details">
        <div class="row">
            <label for="">Name : </label>
            <label for="">{{name}}</label>
        </div>
        <div class="row">
            <label for="">Price :</label>
            <label for="">{{price}}</label>
        </div>
        <div class="row">
            <button>Pay</button>
        </div>
    </div>
</body>
</html>