{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom Cake Form</title>
    <link rel="stylesheet" href="{% static 'css/form.css' %}">    
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
</head>
<body>
    
    {% include "navbar-index.html" %}
    {% if messages %}
    <center>
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" class="message" {% endif %}><p class="messagep">{{ message }}</p></li>
        {% endfor %}
</ul>
</center>
{% endif %}
    <div class=" form" id="cutombake">
        
        <form action="custombake" enctype="multipart/form-data" method="post" onsubmit="return validateform()">
            <div class="form">
                <h1 class="subheading">Custom Cake Form</h1>
                <br>
                {% csrf_token %}
                <div class="row">
                    <label for="refimage">Description* :</label>
                </div>
                <div class="row">
                    <textarea name="Description" id="Description" cols="30" rows="3" placeholder="Description here"></textarea>
                </div>
                <div class="row">
                    <label for="refimage">Reference Image :</label>
                </div>
                <div class="row">
                    <input type="file" name="refimage" id="refimage">
                </div>
                <div class="row">
                    <label for="">Reference Resource Link :</label>
                </div>
                <div class="row">
                    <input type="text" name="reflink">
                </div>
                <div class="row">
                    <label for="name">Name* :</label>
                </div>
                <div class="row">
                    <input type="text" name="name" id="name">
                </div>
                <div class="row">
                    <label for="phonenumber">Contact Number* :</label>
                </div>
                <div class="row">
                    <input type="text" name="phonenumber" id="phonenumber">
                </div>
                <div class="row">
                    <label for="address">Address* :</label>
                </div>
                <div class="row">
                    <textarea name="address" id="address" cols="30" rows="3"></textarea>
                </div>
                <div class="row">
                    <button type="submit">Submit</button>
                </div>
                <div class="row">
                    <p class="pform">You can place any reference link of video or image. We will reach you out for
                        design
                        and cost details </p>
                </div>
            </div>
            </form>
    </div>
    {% include "footer-index.html" %}
    <script>
        function validateform(){
            var Description = document.getElementById("Description").value;
            var name=document.getElementById("name").value;
            var phonenumber=document.getElementById("phonenumber").value;
            var address=document.getElementById("address").value;

            if (Description==="") {
                alertthem()
                return false;
            } else if(name===""){
                alertthem()
                return false;
            } else if(phonenumber===""){
                alertthem()
                return false;
            } else if(address===""){
                alertthem()
                return false;
            }else{
                return true;
            }
            
        }
        function alertthem(){
            alert("Description , Name , Phone And Address can't be empty");
        }
    </script>
</body>
</html>