{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Arzoo Bakers</title>
    <link rel="stylesheet" href="{% static 'css/main.css'%}">
    <link rel="stylesheet" href="{% static 'css/cardmanager.css'%}" />
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/about-contact.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    {% comment %} mobile css link {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/mobile-css/mobile-navbar.css' %}">
    <style>

    </style>
</head>

<body>
    {% include "navbar-index.html" %}
    {% include "logo-index.html" %}
    {% include "main-index.html" %}
    {% include "about-contact-index.html" %}
    {% include "footer-index.html" %}
</body>

</html>